<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Products.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main">
    <h1>PRODUCTOS</h1>
    <ul class="item1">        
            <article>
                    <a href="/products">Lista de Productos</a>
                    <h1><%= product.id %></h1>
                    <h3>Descripcion: <%= product.detalle %> </h3>
                    <p> <%= product.precio %> </p>
            </article>s  
    </ul>
  </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>