<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Products.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main">
    <h1>PRODUCTOS</h1>
    <ul class="item1">
      <% products.forEach(function(product){ %>
        <article>
          <h3 class="item2">
            <div>
              <a href="/product/<%= product.nombre %>"><%= product.nombre %> </a>
            </div>
            <div>
              <%= product.precio %>  
            </div>
          
          </h3>
        </article>
      <% }); %>
    </ul>
  </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>