<%- include('../partials/header.ejs') %>
<div>
    <a href="/users">Regresar a lista de usuarios</a>
    <h1>Usuario n°: <%= user.id %>
    </h1>
  
    <p>Nombre: <%= user.nombre %></p>
    <p>Apellido: <%= user.apellido %></p>
    <p>Correo: <%= user.email %></p>
  </div>
  <%- include('../partials/footer.ejs') %>